/* Resetando margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
    color: #333;
}

/* Estilos para o cabeçalho */
header {
    text-align: center;
    padding: 20px;
    background-color: #4D4D4D;
}

header h1 {
    color: #FF7F50;
    font-size: 24px;
}

/* Estilos da seção do formulário */
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #4D4D4D;
    color: #333;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
}

.form-container h2 {
    font-size: 22px;
}

.form-container .highlight {
    color: #FF7F50;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e06d3f;
}

.terms {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

.image-container {
    margin-left: 200px;
}

.image-container img {
    max-width: 1000px;
    height: auto;
}

/* Seção de informações */
.info-section {
    padding: 40px;
    text-align: center;
    background-color: #4D4D4D;
    color: #333;
}

.info-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 1650px;
    text-align: center;
}

.info-container .highlight {
    color: #FF7F50;
}

.info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.info-text {
    max-width: 600px;
}

.info-text h3 {
    color: #FF7F50;
}

.info-block img {
    max-width: 300px;
    height: auto;
    align-items: left;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: #E5E5E5;
    padding: 20px;
    margin-top: 40px;
}

footer button {
    background-color: #FF7F50;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
}

footer a {
    color: #666;
    font-size: 12px;
}